Curso_C#_Modulo_II_(Intermediario)/ExemploServicoWCF/ClienteWCF/Connected Services/ServicoWCF/Servico01.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Servico01" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65362/Servico01.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65362/Servico01.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65362/Servico01.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExemploServicoWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServico01_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServico01_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServico01_PromocaoDia_InputMessage">
    <wsdl:part name="parameters" element="tns:PromocaoDia" />
  </wsdl:message>
  <wsdl:message name="IServico01_PromocaoDia_OutputMessage">
    <wsdl:part name="parameters" element="tns:PromocaoDiaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServico01">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico01/DoWork" message="tns:IServico01_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico01/DoWorkResponse" message="tns:IServico01_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PromocaoDia">
      <wsdl:input wsaw:Action="http://tempuri.org/IServico01/PromocaoDia" message="tns:IServico01_PromocaoDia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServico01/PromocaoDiaResponse" message="tns:IServico01_PromocaoDia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServico01" type="tns:IServico01">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServico01/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PromocaoDia">
      <soap:operation soapAction="http://tempuri.org/IServico01/PromocaoDia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Servico01">
    <wsdl:port name="BasicHttpBinding_IServico01" binding="tns:BasicHttpBinding_IServico01">
      <soap:address location="http://localhost:65362/Servico01.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>